.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.modalmain {
  position:fixed;
  background: white;
  width: 30%;
  height: 80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  max-height: 100vh;
  overflow-y: auto;
  font-family: Helvetica;
  font-size: 16px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 20px;
  border-radius: 4px;
}

.closeButton {
  padding-top: 20px;
  float: right;
  cursor: pointer;
  font-size: 25px;
  color: rgb(180, 180, 180);
}
.closeButton:hover {
  color: rgb(0, 0, 0);
}

.form {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

.child {
  display: flex;
  flex-direction: column;
}
.text {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: text;
  width: 100%;
  height: 40px;
  padding-left: 8px;
  padding-top: 8px;
  resize: none;
  border: 1px solid rgb(165, 165, 165);
}

@media screen and (max-width: 700px) {
  .form {
    flex-direction: column;
  }
  .modalmain {
    width: 100%;
    height: 100%;
  }

}

.submitButton {
  width: 100%;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border-color: black;
  border-radius: 2px;
  background-color: rgb(230, 230, 230);
  margin-top: 20px;
}

.title {
  font-size: 25px;
  margin-bottom: 40px;
  margin-top: 50px;
  text-align: center;
  padding-right: 50px;
  text-transform: uppercase;
}

.submitButton:hover {
  background-color: rgb(146, 145, 145);
  border-color: rgb(146, 145, 145);
}

.text:hover {
  border: 1px solid rgb(0, 0, 0);
}

.text:focus, .text:active {
  outline: none;
  border-bottom: 3px solid black;
}
